body {
  background-color: rgb(30 30 30);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.org {
  background-color: rgb(203, 203, 49);
  height: 500px;
  width: 800px;
  text-align: center;
  /* margin: 200px 500px; */
  font-size: x-large;
}
.input {
  margin: 10px 20px;
  height: 30px;
  width: 280px;
  text-align: center;
}

#button {
  background-color: rgba(192, 144, 35, 0.867);
  height: 35px;
  width: 190px;
  margin-bottom: 50px;
}

#select {
  height: 50px;
  width: 180px;
}
