<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>sign up</title>
  </head>
  <body>
    <form action="/signUp" method="post">
        <div class="org">
          <br /><b>
            <h2>sign up Form</h2>
          </b>

          <div class="box">
            <input class="input"  type="text" name="username" placeholder="Username" />
          </div>

          <div class="box">
            <input class="input"  type="password" name="password" placeholder="Password" />
          </div>

          <div class="box">
            <input class="input"  type="email" name="email" placeholder="email" />
          </div>
         
          <div class="box">
            <select name="gender" id="select">
              <option>gender..</option>
              <option>male</option>
              <option>female</option>
            </select>
          </div>
          <div class="box">
            <input class="input" id="button" type="submit" value="sign up" />
          </div>
      </form>
      <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
      <script src="/main.js"></script>
  </body>
</html>
