<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login/styleLogin.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="post">
      <div class="org">
        <br /><b>
          <h2>LOGIN FORM</h2>
        </b>
        <div class="box">
          <input
            class="input"
            class="all"
            type="text"
            name="username"
            placeholder="username"
          />
        </div>
        <div class="box">
          <input
            class="input"
            type="password"
            name="password"
            placeholder="password"
          />
        </div>
        <div class="box">
          <input class="input" id="button" type="submit" value="sign up" />
        </div>
      </div>
    </form>
    <!-- <script src="/login/loginMain.js"></script> -->
  </body>
</html>
